
h1 { color:rgb(151, 8, 8);}
img{ width:400px;}
#thirDiv{ color:green}
#spanid{ color:rgb(216, 204, 34)}
#spanid { font-size: larger;}
#thirDiv{ color:blueviolet; padding: 50px;border: 62px;border-style: double;}
h3{color: chocolate; font-size: medium;}
h4{color: crimson;}